body {
  background-color: #ffffff;
}

.nav {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.nav-item {
  list-style: none;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

a.nav-link {
  color: #FFB81C;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

a.nav-link.active {
  color: #FFB81C !important;
}

a.nav-link.active:hover {
  color: #003594 !important;
}

a.nav-link.active {
  color: FFB81C !important;
  text-decoration: none;
}

.hover-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hover-nav li {
  float: left;
}

.hover-nav li a {
  position: relative;
  display: block;
  color: #FFB81C;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  z-index: 0;
}

.hover-nav li a::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: #FFB81C;
  z-index: -1;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}

.hover-nav li a:hover::before,
.hover-nav li a:focus::before {
  transform: scale(1);
}


.text-center {
  margin-top: 30px;
  font-family: "Rubik";
}

.container {
  margin-top: 200px;
}

/* code from codepen https://codepen.io/dapunkt/pen/QWjQbYY */
.swap-on-hover {
  position: relative;
  margin: 0 auto;
  max-width: 400px;
  margin-top: 30px;
}


.swap-on-hover img {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 400px;
  height: 400px;
  border-radius: 20px;
  border: 2px solid black;
  margin: auto;
  text-align: center;
  box-shadow: 0 0 10px;
}

.swap-on-hover .swap-on-hover__front-image {
  z-index: 9999;
  transition: opacity .5s linear;
  cursor: pointer;
}

.swap-on-hover:hover>.swap-on-hover__front-image {
  opacity: 0;
}

/* end of codepen */

h1.text-center {
  text-align: center;
  margin: auto;
}

img.logo {
  padding-top: 30px;
  padding-left: 30px;
}

#about {
  padding-top: 50px;
}

h1 {
  color: #003594
}

#academics {
  padding-top: 50px;
}

a.link {
  text-decoration: none;
  color: black;
}

a.link:hover {
  text-decoration: underline;
  color: #FFB81C
}

img.logo3 {
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 30px;
}

hr {
  padding-top: 30px;
}


button {
  background-color: #FFB81C;
  text-decoration: none;
  padding: 0.6em 0.8em;
  border-radius: 10em;
  border: 0.5px solid black;
}

button:hover {
  background-color: #E09D18;
  /* Slightly darker color on hover */
}

.container {
  margin-top: 500px;
}

.mt-3 {
  margin-top: 1rem;
}

.fa {
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  margin: 10px;
  display: inline-block;
  text-decoration: none;
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.3s;
}

.fa:hover {
  transform: scale(1.1);
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-snapchat {
  color: #fffc00;
}

.fa-instagram {
  color: #e1306c;
}

.fa-github {
  color: #333;
}

a.noline {
  text-decoration: none;
  color: black;
}


a.noline:hover {
  text-decoration: underline;
}

h2 {
  font-family: "Nunito", sans-serif;
  color: #003594;
}

footer {
  margin-top: 30px;
}

.container1 {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 50%;
  margin: auto;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 75%;
  height: 75%;
  border: none;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}