body {
    background-color: #ffffff ;
}

a.nav-link {
    color: #FFB81C;
    text-decoration: none;
    font-family: "Gill Sans",
}

a.nav-link:hover {
  text-decoration: underline;
color: #003594;
}

.text-center {
    margin-top: 30px;
    font-family: "Rubik";
}

/* code from codepen https://codepen.io/dapunkt/pen/QWjQbYY */
.swap-on-hover {
    position: relative;
      margin:  0 auto;
      max-width: 400px;
      margin-top: 30px;
    }
  
  
  .swap-on-hover img {
    position: absolute;
    top:0;
    left:0;
      overflow: hidden;
      width: 400px;
      height: 400px;
      border-radius: 20px;
      border: 2px solid black;
      margin: auto;
      text-align: center;
  }
  
  .swap-on-hover .swap-on-hover__front-image {
    z-index: 9999;
    transition: opacity .5s linear;
    cursor: pointer;
  }
  
  .swap-on-hover:hover > .swap-on-hover__front-image{
    opacity: 0;
  }

  .container-fluid {
    margin-top: 400px;
  }
/* end of codepen */

h1.text-center {
    text-align: center;
    margin: auto;
}

img.logo {
  padding-top: 30px;
}

#about {
  padding-top: 50px;
}

h1 {
  color: #003594
}

#academics {
  padding-top: 50px;
}

a.link {
  text-decoration: none;
  color: black;
}

a.link:hover {
  text-decoration: underline;
  color:#FFB81C
}

